@page

@model QuiPayRazor.Pages.Enrol.EnrolModel
@{
    ViewData["Title"] = "Create";
}
    
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Enrolment.Title" class="control-label"></label>
                <input asp-for="Enrolment.Title" class="form-control" />
                <span asp-validation-for="Enrolment.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Enrolment.FirstName" class="control-label"></label>
                <input asp-for="Enrolment.FirstName" class="form-control" />
                <span asp-validation-for="Enrolment.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Enrolment.LastName" class="control-label"></label>
                <input asp-for="Enrolment.LastName" class="form-control" />
                <span asp-validation-for="Enrolment.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Enrolment.AddressType" class="control-label"></label>
                <select asp-for="Enrolment.AddressType" class="form-control"
                        asp-items="Html.GetEnumSelectList<QuiPayRazor.Models.PersonalOrBusiness>()">
                    @*asp-items="@Model.AddressTypeSL">*@
                    <option value="">-- Select Address Type --</option>
                </select>
                <span asp-validation-for="Enrolment.AddressType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Enrolment.Address1" class="control-label"></label>
                <input asp-for="Enrolment.Address1" class="form-control" />
                <span asp-validation-for="Enrolment.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.Address2" class="control-label"></label>
                <input asp-for="Enrolment.Address2" class="form-control" />
                <span asp-validation-for="Enrolment.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.Address3" class="control-label"></label>
                <input asp-for="Enrolment.Address3" class="form-control" />
                <span asp-validation-for="Enrolment.Address3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.City" class="control-label"></label>
                <input asp-for="Enrolment.City" class="form-control" />
                <span asp-validation-for="Enrolment.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.County" class="control-label"></label>
                <input asp-for="Enrolment.County" class="form-control" />
                <span asp-validation-for="Enrolment.County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.PostCode" class="control-label"></label>
                <input asp-for="Enrolment.PostCode" class="form-control" />
                <span asp-validation-for="Enrolment.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.CountryCode" class="control-label"></label>
                <input asp-for="Enrolment.CountryCode" class="form-control" />
                <span asp-validation-for="Enrolment.CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.Email" class="control-label"></label>
                <input asp-for="Enrolment.Email" class="form-control" />
                <span asp-validation-for="Enrolment.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolment.Phone" class="control-label"></label>
                <input asp-for="Enrolment.Phone" class="form-control" />
                <span asp-validation-for="Enrolment.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


