@page
@model QuiPayRazor.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.AccountState" class="control-label"></label>
                <select asp-for="Account.AccountState" class="form-control"></select>
                <span asp-validation-for="Account.AccountState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.AccountType" class="control-label"></label>
                <select asp-for="Account.AccountType" class="form-control"></select>
                <span asp-validation-for="Account.AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Name" class="control-label"></label>
                <input asp-for="Account.Name" class="form-control" />
                <span asp-validation-for="Account.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.MemberID" class="control-label"></label>
                <select asp-for="Account.MemberID" class ="form-control" asp-items="ViewBag.MemberID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Account.CurrencyID" class="control-label"></label>
                <input asp-for="Account.CurrencyID" class="form-control" />
                <span asp-validation-for="Account.CurrencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Amount" class="control-label"></label>
                <input asp-for="Account.Amount" class="form-control" />
                <span asp-validation-for="Account.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.WhenCreated" class="control-label"></label>
                <input asp-for="Account.WhenCreated" class="form-control" />
                <span asp-validation-for="Account.WhenCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
